* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ##################################################### */

.up {
    width: 50px;
    height: 30px;
    background: rgba(112, 171, 247, 0.993);
    border-radius: 25px 25px 0 0;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
    position: fixed;
    left: 3px;
    bottom: 5px;
    z-index: 5;
}

.up:hover {
    height: 45px;
}

.up a {
    text-decoration: none;
}

.up .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.up .right {
    transform: rotate(-130deg);
}

.up:active {
    background: linear-gradient(to right, hsla(120, 70%, 49%, 0.5), rgba(255, 255, 0, 0.5));
}

/* ##################################################### */

header {
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.right-header {
    display: flex;
    flex-direction: row;
}

.right-header .logo-icon:hover {
    display: flex;
    padding: 0em 1em;
    padding-bottom: 20px;
    transition: 0.5s ease;
    background: url(images/egypt.png) 0px -19px no-repeat;
}

.right-header .play {
    margin: 15px 0 0 10px;
    cursor: pointer;
    transition: .1s ease;
    overflow: hidden;
    width: 0;
}

.right-header .play:hover {
    transform: scale(1.1);
}

.right-header:hover #play {
    width: 100%;
}

.navigation {
    position: relative;
    overflow: hidden;
    max-width: 0;
    max-height: 0;
}

.navigation.open-menu {
    max-width: 100%;
    max-height: 100%;
}

.navigation a {
    text-decoration: none;
    color: #fafafa;
    font-weight: 500;
    font-size: 1.5em;
    padding: 5px;
    transition: .3s ease;

}

.navigation a:hover {
    color: #601cfc;
    font-size: 1.7em;
    -webkit-text-stroke: 0.5px #fff;
}

.container-bars {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 20px;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.navigation a {
    text-decoration: none;
    color: #fafafa;
    font-weight: 500;
    font-size: 1.5em;
    padding: 5px;
    transition: .3s ease;

}

.navigation a:hover {
    color: #601cfc;
    font-size: 1.7em;
    -webkit-text-stroke: 0.5px #fff;
}

.container-bars {
    display: inline-block;
    cursor: pointer;
    transition: 0.7s ease;
}

.container-bars:hover{
    transform: rotate(90deg);
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 20px;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}



/* ##################################################### */

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/O.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section {
    padding: 00px 100px;
}


.main h2 {
    color: #e06f04;
    -webkit-text-stroke: 0.7px #aa5b01;
    font-size: 1.7em;
    font-weight: 700;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #e40000;
    -webkit-text-stroke:  #1f0505;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #10a023;
    -webkit-text-stroke: 0.7px #000000;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #1f49f1;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-left: 20px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.main-btn2 {
    color: #fff;
    background-color: #1f49f1;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-left: 20px;
    transition: 0.7s ease;
}

.main-btn2:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}
.main-btn3 {
    color: #fff;
    background-color: #1f49f1;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    margin-left: 20px;
    transition: 0.7s ease;
}

.main-btn3:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}
.title {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
/* ##################################################### */
.social-links {
    display: flex;
    align-content: center;
    justify-content: left;
    flex-direction: row;
    flex-wrap: wrap;
}

.Btn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    margin: 3px;
    min-width: 45px;
    min-height: 45px;
}

#instagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

#facebook {
    background: #2372a3;
}

#email {
    background: #427CA9;
    ;
}

#tiktok {
    background: rgb(0, 0, 0);
}

.svgIcon {
    transition-duration: .3s;
}

.svgIcon path {
    fill: white;
}

.text {
    position: absolute;
    width: 120px;
    opacity: 0;
    transition-duration: .4s;
}

button .text a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.Btn:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
}

.Btn:hover .text {
    opacity: 1;
    transition-duration: .4s;
}

.Btn:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
}

/* ##################################################### */

.crd {
    background-color: #272626;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(74, 68, 68, 0.144);
    border-radius: 10px; 
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.crd:hover {
    transform: scale(1.1);
}

.crd .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.inf {
    text-align: center;
}
.inf p{
    color: #ffffff;
}
.inf h3{
    color: #fa3737;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}


.project-crd {
    background-color: #e00303;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    background: linear-gradient(rgba(0, 0, 0, 0.834), rgba(0, 0, 0, 0.7)), url(images/O.jpg) no-repeat;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.card:hover .project-image {
    opacity: 0.9;
 }

.project-image img{
    width: 100%
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size:1em;
    color: #000;
}

/* ##################################################### */

.cards {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.834), rgba(0, 0, 0, 0.7)), url(images/o.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
}

.CardAndText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    transition: 0.7s ease;
}

.CardAndText:hover {
    transform: scale(1.1);
}

.card-place {
    margin: 10px;
}

.cards .cards-title {
    font-size: 4em;
    font-weight: 600;
    color: #3a6cf4;
    padding: 100px 0 30px 0;
}

.more-details {
    text-decoration: none;
    color: #3a3dff;
    font-weight: 800;
    font-size:1.5em;
}

.more-details:hover {
    color: #da0000;
}

.cards-title:hover {
    color: #601cfc;
    -webkit-text-stroke: 2px #fff;
}

.text-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #0a49f6;
}

.CardAndText:hover .text-card {
    color: red;
}

.group {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 50px;
}

.item {
    width: 15vw;
    height: 75vh;
    background-position: center;
    background-size: 75vh;
    margin: 1vw;
    border-radius: 3vw;
    display: inline-block;
    cursor: pointer;
}

.info-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.cards .info-items p {
    color: #fff;
    font-size: 2em;
    margin-bottom: 10%;
    background: #000016;
    width: 42vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

#InfoItem1 {
    width: 0;
    opacity: 0;
}

.changeinfo #InfoItem1 {
    width: 100%;
    opacity: 1;
}

#InfoItem2 {
    width: 0;
    opacity: 0;
}

#InfoItem3 {
    width: 0;
    opacity: 0;
}

#InfoItem4 {
    width: 0;
    opacity: 0;
}

#InfoItem5 {
    width: 0;
    opacity: 0;
}

/* ##################################################### */

.cards-categories {
    width: 100%;
    min-height: 130vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.834), rgba(0, 0, 0, 0.7)), url(images/O.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
}

.cards-categories .cards-title {
    font-size: 4em;
    font-weight: 600;
    color: #3a6cf4;
    padding: 100px 0 30px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cards-categories .cards-title:hover {
    color: #601cfc;
    -webkit-text-stroke: 2px #fff;
}

.items-categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.CardAndBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.myCard {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 10000px;
    margin: 30px;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.myCard:hover .innerCard {
    transform: rotateY(180deg);
}

.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.backSide,
.backSide::before {
    background-image: linear-gradient(160deg, #5e617e 0%, #4657a2 100%);
}

.backSide {
    transform: rotateY(180deg);
}

.frontSide::before,
.backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
}

.cards-categories h1 {
    color: rgb(255, 0, 0);
    font-size: 1.7em;
    font-weight: 800;
    font-family: Roboto;

}

.cards-categories p {
    color: rgb(0, 0, 0);
    font-size: 1.0em;
    letter-spacing: .1em;
    padding: .7em;
    line-height: 1.5;
    font-family:Roboto;
}

@keyframes animate {
    0% {
        opacity: 0.3;
    }

    80% {
        opacity: .5;
    }

    100% {
        opacity: 0.3;
    }
}

.frontSide,
.frontSide::before {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
    width: 300px;
    height: 400px;
}


.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
}


.learn-more:hover .arrow {
    display: none;
}

.learn-more .text-learn-more {
    display: none;
}

.learn-more:hover .text-learn-more {
    display: flex;
    font-size: 16px;
    font-weight: 550;
    color: rgb(255, 255, 255);
    letter-spacing: 0.6px;
    animation: anima 0.6s ease;
}

@keyframes anima {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ##################################################### */
.contact-cards {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12, 3, 51, 0.3), rgba(12, 3, 51, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-cards-only {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.card {
    width: 21.25em;
    border: 2px solid #fff;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10%;
    padding: 30px;
    margin: 50px;
    margin-top: 150px;
    margin-bottom: 150px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.contact-title {
    font-size: 4em;
    font-weight: 600;
    color: #3a6cf4;
    padding: 100px 0 10px 0;
    text-align: center;
    transition: .3s;
}

.contact-title:hover {
    -webkit-text-stroke: 1.7px #fff;

}

.contact-cards-only .icon {
    font-size: 4.5em;
    color: #0a49f6;
    text-align: center;
}

.contact-cards-only .info {
    text-align: center;
}

.contact-cards-only .info h3 {
    color: #fff;
    margin: 10px;
}

.contact-cards-only .info p {
    color: #fff;
    font-size: 1.3em;
}

.contact-cards-only .info p a {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
}

.contact-cards-only .info p a:hover {
    color: #0a49f6;
}

.back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media(min-aspect-ratio: 16/9) {
    .back-video {
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9) {
    .back-video {
        width: auto;
        height: 100%;
    }
}

/* ##################################################### */

.footer {
    background-color: #000016;
    color: #fff;
    padding: .4em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
   margin-left: 45px;
    font-size: 1.3em;
    font-weight: 600;
    padding-top: 5px;
}

.footer-title span a {
    text-decoration: none;
    color: #eb1818;
    font-size: 1.2em;
}

.footer-title .social-icons a {
    font-size: 1.3em;
    padding: 0 12px 0 0;
}